<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div clas="main">
    <button type="button" class="btn btn-outline-dark" (click)="onClick('https://github.com/AlexTran0899/The-Mastermind-git-repo')">   
        <i class="bi bi-github bi-lg"></i>
        Github
    </button>
    <span>: This is where your project will be</span>
  
    <br>
    
    <button type="button" class="btn btn-outline-dark" (click)="onClick('https://git-scm.com/book/en/v2/Getting-Started-Installing-Git')">   
        <i class="bi bi-git bi-lg"></i>
        Git-Cli
    </button>
    <span>: The command line tool that you will need to upload your project</span>
    <br>

    <button type="button" class="btn btn-outline-dark" (click)="onClick('https://www.youtube.com/watch?v=USjZcfj8yxE')">   
        <i class="bi bi-youtube"></i>
        CodePen
    </button>
    <span>: Quick video on how to use git commnad</span>

    <br>


    <button type="button" class="btn btn-outline-dark" (click)="onClick('https://codepen.io/trending')">   
        <!-- <i class="bi bi-git bi-lg"></i> -->
        CodePen
    </button>
    <span>: Quickly testing out your html and css</span>

    <br>


</div>
