<app-navbar></app-navbar>
<router-outlet></router-outlet>
<body>

<h2>About No Nic Nanny</h2>
<ul>
   
    
    
  </ul>
<p id="intro">
    Do you think your teen has been vaping? In recent years, vapes have become a staple in our teen's pockets, with <strong>tasty flavors, easy access, and affordable prices</strong>. However, not only is it flagrantly illegal for people their age, but they fail to realize that they are damaging their health, at the expense of "being cool". 
    <br>In addition, we wanted the device to be comprehensive, also targeting smoking of any kind with a smoke detector. 
    <br><br>Ultimately, us parents are worried. We don't want our kids to develop an addiction to this potential gateway. And the home is where addictions can develop.
    
    
    </p>

<p id="desc">
    <strong>So, we made NoNicNanny. Simply place the device in your teen's room, and it will notify you via text if vape or smoke is detected in the vicinity.</strong> It will also keep a record of every time the device was triggered.
</p>
<img src="https://cdn.shopify.com/s/files/1/0929/1762/articles/Disposable_Vapes.jpg?v=1653855030" alt="picture of brightly colored vapes">

</body>
