<div class="main">
    <div style="margin:20px" class="associatedPhone">
        <h2 style="margin-left: 20px;">Associated phone number:</h2>
        <div style="margin:10px" *ngFor="let phone of phones" class="card">
            <div class="card-body">{{phone.phone_number}}</div>
        </div>
    </div>
    <div class="addPhone">
        <div class="form-outline">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <label class="form-label" for="form12">New Phone number</label>
                <input formControlName="phonenumber" type="text" class="addPhoneClass" />
                <button type="submit">Add</button>
            </form>

        </div>
    </div>
</div>